<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="icu.burtry.writespacearticle.mapper.ArticleMapper">


    <select id="getNoDeleteArticle"
            resultType="icu.burtry.writespacemodel.entity.article.Article"
            parameterType="map">
        SELECT a.*
        FROM writespace.article a
        LEFT JOIN writespace.article_config ac ON a.id = ac.article_id
        WHERE ac.is_delete = 0
        <if test="id != null">
            AND a.author_id = #{id}
        </if>
        <if test="list != null and list.size > 0">
            AND a.id IN
            <foreach collection="list" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </select>

</mapper>