<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="icu.burtry.writespacearticle.mapper.ArticleMapper">


    <select id="getNoDeleteArticle"
            resultType="icu.burtry.writespacemodel.entity.article.Article"
            parameterType="map">
        SELECT a.*
        FROM writespace.article a
        LEFT JOIN writespace.article_config ac ON a.id = ac.article_id
        WHERE ac.is_delete = 0
        <if test="id != null">
            AND a.author_id = #{id}
        </if>
        <if test="status != null and status != 0">
            AND a.status = #{status}
        </if>
        <if test="list != null and list.size > 0">
            AND a.id IN
            <foreach collection="list" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </select>

    <select id="loadArticles" resultType="icu.burtry.writespacemodel.entity.article.Article">
        SELECT a.*, ac.is_delete
        FROM writespace.article a
        JOIN writespace.article_config ac ON a.id = ac.article_id
        WHERE a.status = 4
        AND ac.is_delete = 0
        <if test="channelId != 1 and channelId != 2 and channelId != 3">
            AND a.channel_id = #{channelId}
        </if>
        ORDER BY a.publish_time DESC
    </select>


</mapper>